<app-common-header></app-common-header>
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
  <!-- Content Header (Page header) -->
  <section class="content-header">
    <h1>
      Change Password
      <small>Update admin password</small>
    </h1>
    <!-- <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
      <li class="active">Here</li>
    </ol> -->
  </section>

  <!-- Main content -->
  <section class="content container-fluid">

	<div class="row" *ngIf="confirmPasswordFlag">
		<div class="col-md-12 offset-md-3">
			<div class="col-md-12" style="color: red;">
				<div>Password must match.</div>
			</div>
		</div>
	</div>

    <div class="row">
        <div class="col-md-12 offset-md-3">
        	<form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()">
				<div class="col-md-6">
					<label>Password</label>
					<input type="password" placeholder="Password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
						<div *ngIf="submitted && f.password.errors" class="invalid-feedback">
						<div *ngIf="f.password.errors.required">Password is required</div>
						<div *ngIf="f.password.errors.minlength">Password must be at least 5 characters</div>
					</div>
				</div>
	
				<div class="col-md-6">
					<label>Confirm Password</label>
					<input type="password" placeholder="Confirm Password" formControlName="confirmPassword" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
						<div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
						<div *ngIf="f.confirmPassword.errors.required">Confirm Password is required</div>
						<div *ngIf="f.confirmPassword.errors.minlength">Confirm Password must be at least 5 characters</div>
					</div>
				</div>
	
				<div class="col-md-12" style="margin-top: 10px;">
					<button class="btn btn-primary">Submit</button>
				</div>
			</form>
        </div>
    </div>
  </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
<app-common-footer></app-common-footer>