<div class="login-box">
		<div class="login-logo">
		  <a href="javascript:void(0);"><b>Straw</b>App</a>
		</div>
		<!-- /.login-logo -->
		<div class="login-box-body">
		  <p class="login-box-msg">Enter registered email for change password token.</p>
	  
		  <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">

			<div class="form-group">
				<label>Email</label>
				<input type="text" formControlName="universityEmail" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.universityEmail.errors }" />
				<div *ngIf="submitted && f.universityEmail.errors" class="invalid-feedback">
					<div *ngIf="f.universityEmail.errors.required">Email is required</div>
					<div *ngIf="f.universityEmail.errors.email">Email must be a valid email address</div>
				</div>
			</div>

			<div class="row">
			  <div class="col-xs-4">
					<button class="btn btn-primary btn-block btn-flat">Submit</button>
        </div>
        <div class="col-xs-8" style="text-align: right;">
            <a href="" routerLink="/login">Back to Login</a>
          </div>
			  <!-- /.col -->
			</div>
		  </form>
	  
		</div>
		<!-- /.login-box-body -->
	  </div>